# Игнорируем директорию с сохраненными зависимостями
node_modules/
# Игнорируем файлы конфигурации вашей IDE, например, для PyCharm и VSCode
.idea/
.vscode/
# Исключаем папку с логами и log-файлы
logs
*.log
__pycache__